__pycache__/
*__MACOSX/
.DS_Store
*.ipynb_checkpoints
*.zip
*.pyc
*.txt
*.json
*.tsv
*.csv
*.db
*.bin
*.npz
wiqa_augment/*
*.ckpt
*.jsonl
checkpoint*
PATH_TO_STORE_TESTSET/
PATH_TO_STORE_TRAINSET/
mnist_re*
*.pt
/data/
/logs/
