# This is a basic workflow to help you get started with Actions

name: Build Dist and upload to PyPi from the main branch

# Controls when the action will run.
# When tagged push with tag started with v 
on:
  push:
    tags:
      - v*

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

jobs:
  # This workflow contains a single job called "dist"
  dist:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      - name: Exit if the tag was not on main branch
        if: endsWith(github.ref, 'main') == false
        run: exit -1
        
      # Checks-out the repository branch main under $GITHUB_WORKSPACE, so the workflow job can access it
      - uses: actions/checkout@v3
        with:
          ref: "main"

      # Sets up python3
      - uses: actions/setup-python@v4
        with:
          python-version: 3.8 

      # Installs and upgrades pip, installs other dependencies and installs the package from setup.py
      - name: "Installs and upgrades pip, install build modules"
        run: |
          # Upgrade pip
          python3 -m pip install --upgrade pip
          # Install build deps
          python3 -m pip install setuptools wheel twine

      # Upload to PyPI
      - name: Dist and Upload to PyPI
        run: |
          python3 setup.py sdist bdist_wheel
          python3 -m twine upload dist/*
        env:
          TWINE_USERNAME: __token__
          TWINE_PASSWORD: ${{ secrets.PYPI_API_TOKEN }}
